@font-face {
    font-family: dimbo;
    font-style: normal;
    src: url(FONTS/dimbo\ regular.ttf);
}
body {
margin: 0px auto;
overflow: hidden;
font-family: dimbo;
text-transform: uppercase;
font-size: 40px;
font-weight: 100;
}
.Playername {
    color: #202121;
    text-align: left;
    width: 350px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: absolute;
}
.Scorecount {
    color: #202121;
    text-align: center;
    width: 225px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: absolute;
}
.Top8 {
    position: absolute;
    left: 410px;
}
.Top8Score {
    position: absolute;
    left: 540px;
}
.Row1 {
    position: absolute;
    top: 300px;
}
.Row2 {
    position: absolute;
    top: 343px;
}
.Row3 {
    position: absolute;
    top: 496px;
}
.Row4 {
    position: absolute;
    top: 539px;
}
.Row5 {
    position: absolute;
    top: 694px;
}
.Row6 {
    position: absolute;
    top: 739px;
}
.Row7 {
    position: absolute;
    top: 884px;
}
.Row8 {
    position: absolute;
    top: 929px;
}
.Top4 {
    position: absolute;
    left: 850px;
}
.Top4Score {
    left: 980px;
}
.Row9 {
    position: absolute;
    top:400px;
}
.Row10 {
    position: absolute;
    top: 443px;
}
.Row11 {
    position: absolute;
    top: 786px;
}
.Row12 {
    position: absolute;
    top: 829px;
}
.Top2 {
    position: absolute;
    left: 1285px;
}
.Top2Score {
    position: absolute;
    left: 1415px;
}
.Row13 {
    position: absolute;
    top: 596px;
}
.Row14 {
    position: absolute;
    top: 639px;
}